AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=

AUTHENTIK_ISSUER=http://localhost:9000/application/o/bitenary/
AUTHENTIK_AUTHORIZE_URL=http://localhost:9000/application/o/authorize/
AUTHENTIK_TOKEN_URL=http://localhost:9000/application/o/token/
AUTHENTIK_REVOKE_URL=http://localhost:9000/application/o/revoke/
AUTHENTIK_JWKS_URL=http://localhost:9000/application/o/bitenary/jwks/

FRONTEND_ORIGINS=http://localhost:5173
OIDC_REDIRECT_URI=http://localhost:8000/api/auth/callback
COOKIE_SECURE=false